<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.ScriptHooks</key>
	<array>
		<string>Script hook</string>
		<string>AppleScript</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.TeX</key>
	<array>
		<string>TeX</string>
		<string>Path</string>
		<string>BibTeX</string>
		<string>PDFLaTeX</string>
		<string>Style</string>
		<string>Template</string>
		<string>Encoding</string>
		<string>Preview</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.autofile</key>
	<array>
		<string>Papers folder</string>
		<string>Format</string>
		<string>Files</string>
		<string>PDF</string>
		<string>Documents</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.cite</key>
	<array>
		<string>Drag and drop</string>
        <string>Copy and paste</string>
		<string>Cite command</string>
		<string>Text formats</string>
		<string>Cite key</string>
		<string>Brackets</string>
		<string>Tilde</string>
		<string>Cite drawer</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.citekey</key>
	<array>
		<string>Auto generate</string>
		<string>Format</string>
		<string>Cite key</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.crossref</key>
	<array>
		<string>Booktitle and title</string>
		<string>Crossref</string>
		<string>Sorting</string>
		<string>Inherit</string>
		<string>Duplicate</string>
		<string>Types</string>
		<string>Saving</string>
		<string>Ordering</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.defaults</key>
	<array>
		<string>Custom fields</string>
		<string>Global macros</string>
		<string>BibTeX</string>
		<string>Types</string>
		<string>Local, file, URL, boolean, person</string>
        <string>Local PDF file viewer</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.display</key>
	<array>
		<string>Sorting stop words</string>
		<string>Fonts</string>
		<string>Author and editor name display</string>
		<string>Preview</string>
		<string>Template, files, TeX</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.files</key>
	<array>
		<string>Save files</string>
        <string>Encoding (Unicode)</string>
		<string>TeX accented characters</string>
		<string>Custom conversions</string>
		<string>Normalized author</string>
		<string>Annote, abstract, RSS</string>
		<string>Backup file time</string>
		<string>Warnings and errors</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.general</key>
	<array>
		<string>Application launch</string>
		<string>Check for updates</string>
		<string>Save session</string>
        <string>Open file by default</string>
		<string>Edit, paste, drag and drop</string>
		<string>Warnings</string>
        <string>Groups</string>
        <string>Mail, E-mail, Email, Template</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.inputmanager</key>
	<array>
		<string>InputManager (input manager)</string>
		<string>External completion</string>
		<string>Autocomplete</string>
		<string>TeXShop, iTeXMac, TextEdit, Xcode</string>
		<string>Update or reinstall</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.sharing</key>
	<array>
		<string>File sharing</string>
        <string>File browsing</string>
        <string>Connect to server</string>
		<string>Bonjour (Rendezvous)</string>
		<string>Password</string>
	</array>
    <key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.export</key>
    <array>
        <string>HTML files</string>
        <string>Templates</string>
        <string>Text files</string>
        <string>Export</string>
        <string>Service</string>
        <string>RTF files</string>
        <string>RTFD files</string>
        <string>Microsoft Word files</string>
        <string>RSS files</string>
        <string>Web pages</string>
        <string>File formats</string>
    </array>
</dict>
</plist>
