<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.ScriptHooks</key>
	<array>
		<string>sous-routine de script</string>
		<string>AppleScript</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.TeX</key>
	<array>
		<string>TeX</string>
		<string>Chemin</string>
		<string>BibTeX</string>
		<string>PDFLaTeX</string>
		<string>Style</string>
		<string>Modèle</string>
		<string>Encodage</string>
		<string>Affichage</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.autofile</key>
	<array>
		<string>Dossier des articles</string>
		<string>Format</string>
		<string>Fichiers</string>
		<string>PDF</string>
		<string>Documents</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.cite</key>
	<array>
		<string>Glisser-déposer</string>
		<string>Copier-coller</string>
		<string>Commande Cite</string>
		<string>Formats de texte</string>
		<string>Clé de citation</string>
		<string>crochets</string>
		<string>Tilde</string>
		<string>Tiroir Cite</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.citekey</key>
	<array>
		<string>Auto générer</string>
		<string>Format</string>
		<string>Clé Cite</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.crossref</key>
	<array>
		<string>Booktitle et title</string>
		<string>Crossref</string>
		<string>Tri</string>
		<string>Hériter</string>
		<string>Dupliquer</string>
		<string>Types</string>
		<string>Enregistrement</string>
		<string>Organisation</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.defaults</key>
	<array>
		<string>Champs personnalisés</string>
		<string>Macros globales</string>
		<string>BibTeX</string>
		<string>Types</string>
		<string>Local, fichier, URL, booléen, personne</string>
		<string>Visualiseur de PDF locaux</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.display</key>
	<array>
		<string>Tris et mots d'arrêt</string>
		<string>Polices</string>
		<string>Affichage des noms d'auteurs et d'éditeurs</string>
		<string>Affichage</string>
		<string>Annoté, résumé, détails, modèles, PDF, texte</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.files</key>
	<array>
		<string>Enregistrer les fichiers</string>
		<string>Encodage (Unicode)</string>
		<string>Caractères accentués TeX</string>
		<string>Conversions personnalisées</string>
		<string>Auteur normalisé</string>
		<string>Annoté, résumé, RSS</string>
		<string>Heure de sauvegarde de fichier</string>
		<string>Avertissements et erreurs</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.general</key>
	<array>
		<string>Lancement de l'application</string>
		<string>Rechercher des mises à jour</string>
		<string>Enregistrer la session</string>
		<string>Ouvrir le fichier par défaut</string>
		<string>Éditer, coller, glisser et déposer</string>
		<string>Avertissements</string>
		<string>Groupes</string>
		<string>Mail, E-mail, Email, Modèles</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.inputmanager</key>
	<array>
		<string>InputManager (input manager)</string>
		<string>Complétion externe</string>
		<string>Autocomplétion</string>
		<string>TeXShop, iTeXMac, TextEdit, Xcode</string>
		<string>Mettre à jour ou réinstaller</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.sharing</key>
	<array>
		<string>Partage de fichier</string>
		<string>Navigation de fichiers</string>
		<string>Connexion au serveur</string>
		<string>Bonjour (Rendezvous)</string>
		<string>Mot de passe</string>
	</array>
	<key>edu.ucsd.cs.mmccrack.bibdesk.prefpane.export</key>
	<array>
		<string>Fichiers HTML</string>
		<string>Modèles</string>
		<string>Fichiers texte</string>
		<string>Export</string>
		<string>Service</string>
		<string>Fichiers RTF</string>
		<string>Fichiers RTFD</string>
		<string>Fichiers Microsoft Words</string>
		<string>Fichiers RSS</string>
		<string>Page Web</string>
		<string>Formats de fichiers</string>
	</array>
</dict>
</plist>
