SDKROOT = macosx
DEBUG_INFORMATION_FORMAT = dwarf
ARCHS = $(ARCHS_STANDARD_32_64_BIT)
MACOSX_DEPLOYMENT_TARGET = 10.6
COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = all
PREBINDING = NO
ZERO_LINK = NO
COMBINE_HIDPI_IMAGES = YES
VERSION_INFO_FILE = $(PRODUCT_NAME)_vers.c
VERSION_INFO_BUILDER = $(USER)

INFOPLIST_OTHER_PREPROCESSOR_FLAGS = -C
INFOPLIST_PREPROCESS = YES
INFOPLIST_EXPAND_BUILD_SETTINGS = YES

GCC_DYNAMIC_NO_PIC = NO

GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_MODEL_TUNING = G5
