p,ul {
    font-family: Lucida Grande,Helvetica,Geneva;
    font-size: 1em;
}

h1, h2, h3, h4, h5 {
   font-family: Lucida Grande,Helvetica,Geneva;
    color: #3333cc;
}

/*h1:before {
    content: url('BibDeskIcon.png');
    margin-left: -40px;
    width: 32px;
    margin-right: 8px;
}*/

h1 {
    font-size: 2em;
    margin-top: 1.2em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

h2 {
    font-size: 1.6em;
    margin-top: 1.4em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

h3,h4 {
      font-weight: bold; 
   font-size: 1.2em;
    margin-top: 1.4em;
    margin-bottom: 0em;
    padding-bottom: 0em;
}

tt, pre {
    font-size: 1.1em;
    font-family: Monaco, Courier, Mono;
}
